body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #00c3ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1c1d22,
    #00c3ff,
    #6060dc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1c1d22,
    #00c3ff,
    #6060dc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "Roboto", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(9, 30, 66, 0.13);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}

form {
  padding: 20px;
  margin-top: 60px;
}
form button,
form h5 {
  margin: 20px 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #00c3ff;
  box-shadow: none;
}
.form {
  background-color: #212121;
}
.title {
  color: #00c3ff;
}
.btn-color {
  background-color: #00c3ff;
}
.btn-color:hover,
.btn-color:focus {
  background-color: #00c3ffb9;
}

.input-field input {
  color: whitesmoke;
}

.fb-login {
  background-color: #3b5998;
  display: block;
  margin-bottom: 5px;
}
.fb-login:hover,
.fb-login:focus {
  background-color: #3b6698;
}
.google-login {
  background-color: #db3737;
  display: block;
}
.google-login:hover,
.google-login:focus {
  background-color: #db4437;
}

.container-dashboard {
  position: relative;
  width: 100%;
  margin-top: 20px;
  height: 85vh;
}
.container-sub-dashboard {
  display: flex;
  user-select: none;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: auto;
  padding-bottom: 8px;
  height: inherit;
}
.container-task {
  border: 1px solid lightgrey;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 8px;
  background-color: white;
  overflow-y: auto;
  overflow-y: hidden;
}

.container-column {
  margin: 8px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  width: 272px;
  background-color: #ebecf0;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.container-add-column {
  margin: 8px;
  width: 272px;
  height: fit-content;
  padding: 0px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.08);
  padding: 2px;
}
.column-add-title {
  margin-bottom: 10px;
  margin-left: 40px;
  font-size: 20px;
}
.column-add-title:hover {
  cursor: pointer;
}
.column-title {
  padding: 5px;
  margin-left: 5px;
}
.column-list {
  padding: 8px;
  transition: background-color 0.2s ease;
  background-color: white;

  flex-grow: 1;
  min-height: 100px;
}
.column-header {
  position: relative;
}
.column-header-addTask {
  position: absolute;
  top: 11px;
  right: 20px;
  font-size: 30px;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  top: -15px;
  right: -30px;
  z-index: 1;
}
.column-header-addTask:hover,.list-add-control-cancel:hover {
  cursor: pointer;
}
.column-header:hover .tooltiptext {
  visibility: visible;
}

.add-column-control{
  display:black;
}

.list-add-control{
  display: flex;
  margin: 5px 0 8px 8px;
}
.list-add-control-cancel{
  font-size: 25px;
  margin-left: 10px;
}
